@font-face {
    font-family: 'avenir';
    src: url("/src/assets/fonts/Avenir_Font/AvenirLTStd-Roman.otf");
}

:root {
    --font-color-dumbmerch: #F74D4D;
}

body{
    font-family: 'avenir';
    background-color: black;
}



.content { 
    max-width: 1200px;
}

.content-detail {
    max-width: 1000px;
}


.active{
    color: red !important;
}

.submit-button{ 
    font-weight: 800;
    background-color: var(--font-color-dumbmerch);
    color: white;
}

.form-input {
    color: white;
    border: 2px solid #BCBCBC;
    background: rgba(210, 210, 210, 0.25);
}

.content-title {
    color: var(--font-color-dumbmerch);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
}

.card {
    background-color: #212121;
    border-radius: 5px;
    width: 214px;
    height: 410px;
}

.card-title {
    color: var(--font-color-dumbmerch);
    font-size: 18px;
    line-height: 24.59px;
}

.card-text {
    font-weight: 100;
    font-size: 14px;
    color: #ffffff9b;
    line-height: 19.12px;
    font-style: normal;
}

.card-img-top{
    width: 241px;
    height: 312px;
    border-radius: 5px 5px 0 0;
}


.detail-title {
    font-weight: 900;
    font-size: 48px;
    color: var(--font-color-dumbmerch);
}

.detail-product p{
    color: rgba(255, 255, 255, 0.72);
    font-size: 18px;
    font-weight: 100;
    line-height: 24.59px;
    text-align: justify;
}

.detail-price {
    color: var(--font-color-dumbmerch);
    font-weight: 900;
    font-size: 24px;
    line-height: 32.78px;
    text-align: left;
}
