@font-face {
    font-family: 'avenir';
    src: url("/src/assets/fonts/Avenir_Font/AvenirLTStd-Roman.otf");
}

body{
    font-family: 'avenir';
    background-color: black;
}

.active{
    color: red !important;
}

.submit-button{ 
    font-weight: 800;
    background-color: #F74D4D; 
    color: white;
}

.form-input {
    color: white;
    border: 2px solid #BCBCBC;
    background: rgba(210, 210, 210, 0.25);
}