@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
    font-family: 'avenir';
    src: url("/src/assets/fonts/Avenir_Font/AvenirLTStd-Roman.otf");
}



:root {
    --font-color-dumbmerch: #F74D4D;
}

body{
    font-family: 'avenir';
    background-color: black;
}



.content { 
    max-width: 1200px;
}

.content-detail {
    max-width: 1000px;
}
.content-profile {
    max-width: 1250px;
}

.nav-link:hover{
    color: var(--font-color-dumbmerch) !important;
}

sup:hover {
    color: white !important;
}

.logout-button {
    background: none;
    border: none;
    font-size: 18px;
}

.active{
    color: red !important;
}

.submit-button{ 
    font-weight: 800;
    background-color: var(--font-color-dumbmerch);
    color: white;
}

.edit-button{
    font-weight: 800;
    color: white;
    background-color: #56C05A;
}

.form-input {
    color: white;
    border: 2px solid #BCBCBC;
    background: rgba(210, 210, 210, 0.25);
}

.form-input:focus {
    color: white;
    border: 2px solid #BCBCBC;
    background: rgba(210, 210, 210, 0.25);
}

.content-title {
    color: var(--font-color-dumbmerch);
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
}

.content-profile-img{
    border-radius: 3px;
    background-blend-mode: normal;
}

.card {
    background-color: #212121;
    border-radius: 5px;
    width: 214px;
    height: 410px;
}

.card-title {
    color: var(--font-color-dumbmerch);
    font-size: 18px;
    line-height: 24.59px;
}

.card-text {
    font-weight: 100;
    font-size: 14px;
    color: #ffffff9b;
    line-height: 19.12px;
    font-style: normal;
}

.card-img-top{
    width: 241px;
    height: 312px;
    border-radius: 5px 5px 0 0;
}


.detail-title {
    font-weight: 900;
    font-size: 48px;
    color: var(--font-color-dumbmerch);
}

.detail-product p{
    color: rgba(255, 255, 255, 0.72);
    font-size: 18px;
    font-weight: 100;
    line-height: 24.59px;
    text-align: justify;
}

.detail-price {
    color: var(--font-color-dumbmerch);
    font-weight: 900;
    font-size: 24px;
    line-height: 32.78px;
    text-align: left;
}


.biodata-title {
    color: var(--font-color-dumbmerch);
    font-weight: 800;
    font-size: 18px;
    line-height: 24.59px;
}

.biodata-main {
    color: #ffffffe0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
}

.transaction {
    background-color: #303030;
    height: 150px;
}

.transaction-title {
    color: var(--font-color-dumbmerch);
    font-weight: 900;
    font-size: 14px;
    line-height: 19.12px;
}

.transaction-sub-title {
    color: var(--font-color-dumbmerch);
    font-weight: 900;
    font-size: 9px;
    line-height: 12.29px;
}

.transaction-sub-title2 {
    color: #f74d4da5;
    font-weight: 300;
    font-size: 9px;
    line-height: 12.29px;
}

.transaction-price {
    color: #ffffff7c;
    font-weight: 400;
    font-size: 10px;
    line-height: 13.66px;
}

.img-transaction {
    width: 80px;
    height: 120px;
}


tr:nth-child(even) {
    background-color: #303030 !important;
}
tr:nth-child(odd) {
    background-color: #232323 !important;
}
th {
    background-color: #303030 !important;
}


thead {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


tbody {
    font-weight: 100 !important;
    font-size: 18px;
    color: #ffffffa7;
}

table > tbody > tr > td {
    padding: 10px 0;
    border-bottom: 1.52px solid #C4C4C4;
}
table > thead > tr > th {
    padding: 20px 0;
    border-bottom: 1.52px solid #C4C4C4;
}

::-webkit-file-upload-button{
    font-size: 18px;
    background: var(--font-color-dumbmerch) !important;
    border: none !important;
    color: white !important;
    padding: 5px 20px !important;
    border-radius: 5px !important;
    margin-left: 0.1px !important;
}

.upload-box:focus {
    background: none !important;
}
.upload-box:hover {
    background: none !important;
}

.upload-box {
    background: none;
    border: none;
    outline: 0 !important;
    box-shadow: none !important;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,
.form-input:hover,.form-input:focus,.form-input:active 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}